<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <link rel="stylesheet" href="__CSS__/search_detail.css">
</head>
<body>
<!--顶部-->
<div class="header">
    <a href="/home">
        <img src="__IMG__/back.png" alt="">
    </a>
</div>
<div class="person">
    <div class="person-userInfo">
        <div class="avatar">
            <img src="{$info['head_img']}" alt="">
        </div>
        <div class="nickname">{$info['nickname']}</div>
    </div>
    <div class="person-id">游戏ID：{$info['id']}</div>
</div>
<div class="code">
    <img src="{$info['qrcode']}" alt="">
</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/rem.js"></script>
<script src="__JS__/index.js"></script>
</body>
</html>